{{ define "main" }}
<div class="container page-container">
  <article class="single-article">
    <header class="article-header">
      <h1 class="article-title">{{ .Title }}</h1>
      {{ if .Date }}
      <time class="article-date" datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
      {{ end }}
      {{ with .Params.tags }}
      <ul class="tag-list">
        {{ range . }}
        <li class="tag">{{ . }}</li>
        {{ end }}
      </ul>
      {{ end }}
    </header>
    <div class="article-body">
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
